name: Build Android App

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    
    - name: Setup Android
      uses: android-actions/setup-android@v2
      
    - name: Install SDK
      run: |
        yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --install "platforms;android-33" "build-tools;33.0.2"
    
    - name: Create app structure
      run: |
        mkdir -p app/src/main/java/com/test/app
        mkdir -p app/src/main/res/layout
        
        echo '<?xml version="1.0" encoding="utf-8"?>' > app/src/main/AndroidManifest.xml
        echo '<manifest xmlns:android="http://schemas.android.com/apk/res/android"' >> app/src/main/AndroidManifest.xml
        echo '    package="com.test.app">' >> app/src/main/AndroidManifest.xml
        echo '    <application android:label="Test App">' >> app/src/main/AndroidManifest.xml
        echo '        <activity android:name=".MainActivity" android:exported="true">' >> app/src/main/AndroidManifest.xml
        echo '            <intent-filter>' >> app/src/main/AndroidManifest.xml
        echo '                <action android:name="android.intent.action.MAIN" />' >> app/src/main/AndroidManifest.xml
        echo '                <category android:name="android.intent.category.LAUNCHER" />' >> app/src/main/AndroidManifest.xml
        echo '            </intent-filter>' >> app/src/main/AndroidManifest.xml
        echo '        </activity>' >> app/src/main/AndroidManifest.xml
        echo '    </application>' >> app/src/main/AndroidManifest.xml
        echo '</manifest>' >> app/src/main/AndroidManifest.xml
        
        echo '<?xml version="1.0" encoding="utf-8"?>' > app/src/main/res/layout/activity_main.xml
        echo '<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"' >> app/src/main/res/layout/activity_main.xml
        echo '    android:layout_width="match_parent"' >> app/src/main/res/layout/activity_main.xml
        echo '    android:layout_height="match_parent">' >> app/src/main/res/layout/activity_main.xml
        echo '    <TextView' >> app/src/main/res/layout/activity_main.xml
        echo '        android:layout_width="wrap_content"' >> app/src/main/res/layout/activity_main.xml
        echo '        android:layout_height="wrap_content"' >> app/src/main/res/layout/activity_main.xml
        echo '        android:text="Hello World"/>' >> app/src/main/res/layout/activity_main.xml
        echo '</LinearLayout>' >> app/src/main/res/layout/activity_main.xml
        
        echo 'package com.test.app;' > app/src/main/java/com/test/app/MainActivity.java
        echo 'import android.app.Activity;' >> app/src/main/java/com/test/app/MainActivity.java
        echo 'import android.os.Bundle;' >> app/src/main/java/com/test/app/MainActivity.java
        echo 'public class MainActivity extends Activity {' >> app/src/main/java/com/test/app/MainActivity.java
        echo '    @Override' >> app/src/main/java/com/test/app/MainActivity.java
        echo '    protected void onCreate(Bundle savedInstanceState) {' >> app/src/main/java/com/test/app/MainActivity.java
        echo '        super.onCreate(savedInstanceState);' >> app/src/main/java/com/test/app/MainActivity.java
        echo '        setContentView(0x7f030000);' >> app/src/main/java/com/test/app/MainActivity.java
        echo '    }' >> app/src/main/java/com/test/app/MainActivity.java
        echo '}' >> app/src/main/java/com/test/app/MainActivity.java
    
    - name: Build APK
      run: |
        cd app
        keytool -genkey -v -keystore debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Android Debug,O=Android,C=US"
        mkdir -p build/classes build/dex
        javac -d build/classes -cp $ANDROID_HOME/platforms/android-33/android.jar src/main/java/com/test/app/MainActivity.java
        $ANDROID_HOME/build-tools/33.0.2/d8 --lib $ANDROID_HOME/platforms/android-33/android.jar --output build/dex/ build/classes/com/test/app/*.class
        $ANDROID_HOME/build-tools/33.0.2/aapt package -M src/main/AndroidManifest.xml -I $ANDROID_HOME/platforms/android-33/android.jar -S src/main/res -F build/app-unsigned.apk -f
        cd build
        zip -uj app-unsigned.apk dex/classes.dex
        cd ..
        $ANDROID_HOME/build-tools/33.0.2/apksigner sign --ks debug.keystore --ks-pass pass:android --key-pass pass:android --out build/app-debug.apk build/app-unsigned.apk
        ls -la build/app-debug.apk
        file build/app-debug.apk
      
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: android-app
        path: app/build/app-debug.apk
